.DS_STORE
/*.pdf
examples/*.pdf
examples/*.svg
examples/*/*.pdf
examples/*/*.svg
examples/MyData/
examples/agedist.csv
screened/
IntCal/
*.tar.gz
*.jld
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml
examples/DenverUPbExampleData/results.csv
results.csv
distresults.csv
AgeDepthModel.csv
stratonly_example_height_results.csv

.ipynb_check*
/etc
