.DS_STORE
/*.pdf
examples/*.pdf
examples/*.svg
examples/*/*.pdf
examples/*/*.svg
examples/MyData/
examples/agedist.csv
*.tar.gz
*.jld
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml
examples/DenverUPbExampleData/results.csv
results.csv

.ipynb_check*

# Don't include dev tests
dev/
